.jugadores-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.jugadores-grid{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;
}

.jugador-card{
    border: 3px solid #0026ff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 550px;
}

.jugador-imagen{
    width: 100%;
    position: relative;
    margin: auto;
}
